	<section class="about" id="about">
		<div class="about__container">
			<h3 class="about__heading heading-3">About</h3>
			<div class="about__photo-box about__photo-box--1 reveal">
				<img src="assets/jpg/profile.jpg" alt="" class="about__profile-pic reveal">
			</div>
			<div class="about__content about__content--1 reveal">
				<p class="paragraph">I am a software developer based in Winnipeg, Manitoba, with a background in academic philosophy. Over the course of my academic career, I developed a systematic, analytical approach to solving problems, which has served me well as a developer. You may find some of my <a href="#projects">projects below</a>.</p>
			</div>
			<div class="about__content about__content--2 reveal">
				<p class="paragraph"> I received my PhD from <a href="https://thecollege.syr.edu/philosophy/" target="_blank">Syracuse University</a>, where I wrote a disseration in the metaphysics of material objects. You may find my <a href="#research">publications below</a>.</p>
			</div>
			<div class="about__photo-box about__photo-box--2 reveal">
				<div class="composition">
					<img src="assets/jpg/bio1.jpg" alt="" class="composition__picture composition__picture--1">
					<img src="assets/jpg/bio2.jpg" alt="" class="composition__picture composition__picture--2">
					<img src="assets/jpg/bio5.jpg" alt="" class="composition__picture composition__picture--3">
				</div>
			</div>
	</section>
