	<footer class="footer" id="footer">
		<div class="footer__contact">
			<a class="footer__link" href="mailto:&#097;&#046;&#106;&#097;&#118;&#105;&#101;&#114;&#046;&#099;&#097;&#115;&#116;&#101;&#108;&#108;&#097;&#110;&#111;&#115;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">
				<svg class="footer__icon footer__icon--email">
          <use xlink:href="{{ '/assets/svg/sprites.svg#icon-mail-envelope-closed' | relative_url }}"></use>
				</svg>
			</a>
			<a class="footer__link" href="https://www.linkedin.com/in/arturo-javier-castellanos-551006197/" target="_blank">
				<svg class="footer__icon footer__icon--linkedin">
          <use xlink:href="{{ 'assets/svg/sprites.svg#icon-linkedin' | relative_url }}"></use>
				</svg>
			</a>
			<a class="footer__link" href="https://github.com/arturo-jc" target="_blank">
				<svg class="footer__icon footer__icon--github">
          <use xlink:href="{{ 'assets/svg/sprites.svg#icon-github' | relative_url }}"></use>
				</svg>
			</a>
		</div>
		<div class="footer__attribution">
			&copy; Copyright <span class="year"></span> by Arturo Javier-Castellanos.
		</div>

	</footer>
