<nav class="navbar">
  <ul class="navbar__list">
    <li class="navbar__item">
      <a href="/#about" class="navbar__link">About</a>
    </li>
    <li class="navbar__item">
      <a href="/#projects" class="navbar__link">Projects</a>
    </li>
    <li class="navbar__item">
      <a href="/#research" class="navbar__link">Research</a>
    </li>
    <li class="navbar__item">
      <a href="/#footer" class="navbar__link">Contact</a>
    </li>
    <li class="navbar__item">
      <a href="/blog" class="navbar__link">Blog</a>
    </li>
  </ul>
  <button class="navbar__menu-btn">
    <svg class="navbar__menu-icon">
      <use xlink:href="{{ '/assets/svg/sprites.svg#icon-menu' | relative_url }}"></use>
    </svg>
  </button>
</nav>
