<section class="projects" id="projects">
  <div class="projects__container">

    <h3 class="projects__heading heading-3">Projects</h3>
    <div class="projects__content">
      {% for project in site.data.projects %}
        {% include project.html
          class=project.class
          image=project.image
          live_url=project.live_url
          code_url=project.code_url
          title=project.title
          subtitle=project.subtitle
          stack=project.stack
          icon_live=project.icon_live
          icon_code=project.icon_code
        %}
      {% endfor %}
    </div>
  </div>
</section>
