@mixin roboto-heading {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
}

@mixin default-shadow {
    box-shadow: 0 1.5rem 3rem rgba(0,0,0, .2);
}

@mixin underline($width, $color){
    background-image: linear-gradient(to right, $color, $color);
    background-position: 0 1.04em;
    background-repeat: repeat-x;
    background-size: 1px $width;
}

@mixin reveal-left{
    &.reveal {
        transform: translateX(10rem);
        opacity: 0;
        transition: transform 0.8s ease-out, opacity 0.8s ease-out;
        &.active{
            transform: none;
            opacity: 1;
        }
    }
}

@mixin reveal-up{
    &.reveal {
        transform: translateY(10rem);
        opacity: 0;
        transition: transform 0.8s ease-out, opacity 0.8s ease-out;
        &.active{
            transform: none;
            opacity: 1;
        }
    }
}

@mixin reveal-expand{
    &.reveal {
        transform: scale(0.8);
        opacity: 0;
        transition: transform 0.8s ease-out, opacity 0.8s ease-out;
        &.active{
            transform: none;
            opacity: 1;
        }
    }
}
@mixin reveal-expand-up{
    &.reveal {
        transform: translateY(10rem) scale(0.8);
        opacity: 0;
        transition: transform 0.8s ease-out, opacity 0.8s ease-out;
        &.active{
            transform: none;
            opacity: 1;
        }
    }
}

// EXTENDS

.default-grid{
    display: grid;
    grid-template-columns: 1fr [content-start left-start] repeat(2, 1fr) [center-start] repeat(3, 1fr) [left-end right-start] repeat(3, 1fr) [center-end] repeat(2, 1fr) [content-end right-end] 1fr;
    column-gap: 4rem;
    row-gap: var(--horizontal-gutter);
    align-items: center;

    
    @media only screen and (max-width: $bp-xl) {
        grid-template-columns: [content-start left-start] repeat(2, 1fr) [center-start] repeat(3, 1fr) [left-end right-start] repeat(3, 1fr) [center-end] repeat(2, 1fr) [content-end right-end];
    }

    @media only screen and (max-width: $bp-lg) {
        grid-template-columns: [content-start left-start] repeat(2, 1fr) [center-start] repeat(3, 1fr) [left-end right-start] repeat(3, 1fr) [center-end content-end right-end];
    }

    @media only screen and (max-width: $bp-md) {
        grid-template-columns: [content-start left-start center-start] repeat(3, 1fr) [left-end right-start] repeat(3, 1fr) [center-end content-end right-end];
    }

}

.container{
    @extend .default-grid;
    padding: 2rem 7% 6rem;
    max-width: 160rem;
    margin: auto;
}