*{
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 62.5%; // = 10px (desired rem size) / 16px (browser default font size)
}

body {
    background-color: var(--color-beige);
}

.stop-scrolling {
    @media only screen and (max-width: $bp-sm) {
        height: 100%;
        overflow: hidden;
    }
  }

a:link,
a:visited{
    text-decoration: none;
    color: var(--color-red);

    @media (hover: hover){
        &:hover{
            text-decoration: underline;
        }
    }
}

.reveal{
    position: relative;
}