<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Open Graph meta tags to specify what the website should look like when shared on social media -->
    <meta property="og:type" content="Website" />
    <meta property="og:title" content="Arturo JC: {{ page.title }}" />
    <meta property="og:description" content="{{ site.description }}" />
    <meta property="og:image" content="assets/jpg/hero.jpg" />

    <title>Arturo JC: {{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="{{ '/assets/css/highlight.css' | relative_url }}">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Montserrat:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">		
  </head>
  <body>
    {% include navbar.html %}
    {{ content }}
    {% include footer.html %}
  </body>
	<script src="/js/index.js"></script>
  <script id="dsq-count-scr" src="//https-arturojc-com.disqus.com/count.js" async></script>
</html>

