---
layout: default
comments: true
---

<main class="post">
  <div class="post__container">
    <div class="post__back-button">
      <a href="/blog"><< All posts</a>
    </div>
    <div class="post__heading">
      <h1 id="post-title" class="post__title">{{ page.title }}</h1>
      <span>
        {{ page.date | date: "%b %d, %Y" }}
      </span>
    </div>
    {% if page.toc %}
      <nav class="post__toc" style="opacity: 0;">
        <ol>
          <li><a class="post__toc-item" href="#post-title">{{ page.title }}</a></li>
          {% for item in page.toc %}
          <li><a class="post__toc-item" class="" href="#{{ item.id }}">{{ item.title }}</a></li>
          {% endfor %}
          <li><a class="post__toc-item" href="#disqus_thread">Comments</a></li>
        </ol>
      </nav>
    {% endif %}
    <div class="post__content">
      {{ content }}
    </div>
    <div class="post__comments">
      <div id="disqus_thread"></div>
      <script>
          /**
          *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
          *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
          /*
            */
          var disqus_config = function () {
            this.page.url = "{{ site.url }}{{ page.url }}";  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = "{{ page.id }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
          };
          (function() { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');
          s.src = 'https://https-arturojc-com.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
  </div>
</main>
{% if page.toc %}
  <script src="/js/toc.js"></script>
{% endif %}
