.footer{
    background-color: var(--color-green);
    color: var(--color-footer);
    position: relative;
    padding: 0 7%;

    &__contact{
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70%;
        min-width: 22rem;
        max-width: 35rem;
        height: 20rem;

        @media only screen and (max-width: $bp-sm) {
            width: 80%;
            height: 17rem;
        }
    }

    @media (hover: hover){
        &__link:hover &__icon {
            fill: var(--color-green-light-2);
            transform: scale(1.4);
        }
    }

    &__icon{
        width: 5rem;
        height: 5rem;
        fill: var(--color-footer);
        transition: transform 0.2s;

        &--email{
            width: 8rem;
            height: 8rem;
        }
        @media only screen and (max-width: $bp-sm) {
            width: 4rem;
            height: 4rem;

            &--email{
                width: 7rem;
                height: 7rem;
            }
        }
    }

    &__attribution{
        text-align: center;
        position: absolute;
        font-size: 1.5rem;
        bottom: .5rem;
        width: 86%;
        line-height: 1;
        @media only screen and (max-width: $bp-sm) {
            font-size: 1.2rem;
        }
    }

}